body {
  background-color: navajowhite;
  padding-left: 100px;
  padding-right: 100px;
}
header {
  background-color: orange;
  font-family: sans-serif;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}
footer {
  background-color: black;
  font-family: sans-serif;
  color: darkgray;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}
article {
  background-color: white;
  color: dimgray;
  font-family: sans-serif;
  border-style: solid;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 100px;
  padding-right: 100px;
}